:root {
--color-1: #CE1B4C;
--color-2: #DD967E;
--color-3: #38325B;
--color-4: #727C8B;
--color-5: #17A9AE;
--color-6: #A9CADC;
--black: #212121;
--muted: #ABABAB;
--white: #ffffff;

--bs-primary: var(--color-5);
--bs-secondary: var(--color-2);
--bs-dark: var(--color-3);

--off-white: #E9E9E9;
--dark-gray: color-mix(in srgb, var(--white), var(--black) 60%);
--light-gray: color-mix(in srgb, var(--white), var(--black) 30%);

--logo-gray: #48484a;

}