@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-v25-latin-regular.ttf") format("truetype");
    font-family: "Raleway";
    src: url("../fonts/raleway-v28-latin-regular.ttf") format("truetype");
    font-family: "Schoolbell";
    src: url("../fonts/schoolbell-regular.ttf") format("truetype");
  }

:root {
--color-1: #CE1B4C;
--color-2: #DD967E;
--color-3: #38325B;
--color-4: #727C8B;
--color-5: #17A9AE;
--color-6: #A9CADC;
--black: #212121;
--muted: #ABABAB;
--white: #ffffff;

--primary: var(--color-5);
--secondary: var(--color-2);
--dark: var(--color-3);

--off-white: #E9E9E9;

--logo-gray: #48484a;

--bs-primary: #17a9ae;
}

.btn-primary {
    background-color: #17a9ae;
    border-color: #17a9ae;
}

.btn {
    font-family: "Raleway", sans-serif; 
}  


*,
html,
body {
  font-family: "Raleway", sans-serif;  
}

.content h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

.content h2 {
  font-size: 32px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 3px solid #17a9ae;
}

.content blockquote{
  font-style: italic;
  border-left: 3px solid #17a9ae;
  padding-left: 10px;
}

.filter_row {
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    border-radius: 0.25rem;
}

.footer {
    background-color: var(--off-white);
    font-size: smaller;
}

.footer h1 {
    color: inherit;
    font-size: 130%;
    line-height: 1;
}

.footer h2 {
    color: inherit;
    font-size: 120%;
    line-height: 1;
}
.footer h3 {
    color: inherit;
    font-size: 110%;
    line-height: 1;
}
.footer p {
    color: inherit;
    font-size: 100%;
}
.footer a {
    color: inherit;
    text-decoration: underline;
    display: block;
}

.footer a :hover {
    text-decoration: underline;
}

.footer ul {
    list-style: disc;
    padding-left: 0;
    font-size: 100%;
}

.footer ul li {
    list-style-position: inside;
    color: inherit;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    display: inline;
}

.footer ul li a :hover {
    text-decoration: underline;
}

.info-tab-box {
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    border-radius: 0.25rem;
}

.info-tab-box .tab-content {
    border-left: 1px solid rgba(0,0,0,0.125);
    border-bottom: 1px solid rgba(0,0,0,0.125);
    border-bottom: 1px solid rgba(0,0,0,0.125);
    background-color: #FFFFFF;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.info-tab-box .nav-item .nav-link {
    border-top: 1px solid rgba(0,0,0,0.125);
    border-left: 1px solid rgba(0,0,0,0.125);
    border-right: 1px solid rgba(0,0,0,0.125);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #D5D5D5;
}

.school {
    font-family: "Schoolbell";
  }

.sub-footer {
	font-size: smaller;
	background: var(--black);
	color: #ffffff;
}

.sub-footer .copyright a {
    font-weight: bold;
    color: #ffffff;
}

.sub-footer .sub-footer-inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media (min-width: 768px) {
	.sub-footer .sub-footer-inner {
		background: "red";
		flex-direction: row;
	}
}

.title {
    background-color: var(--color-5);
}

.title h1 {
    color: var(--white);
}

.title h1.subtitle {
    font-size: 50%;
    font-weight: lighter;
}