:root {
--color-1: #CE1B4C;
--color-2: #DD967E;
--color-3: #38325B;
--color-4: #727C8B;
--color-5: #17A9AE;
--color-6: #A9CADC;
--black: #212121;
--muted: #ABABAB;
--white: #ffffff;

--primary: var(--color-5);
--secondary: var(--color-2);
--dark: var(--color-3);

--off-white: #E9E9E9;

--logo-gray: #48484a;

--bs-primary: #17a9ae;

}