.footer {
    background-color: var(--off-white);
    font-size: smaller;
}

.footer h1 {
    color: inherit;
    font-size: 130%;
    line-height: 1;
}

.footer h2 {
    color: inherit;
    font-size: 120%;
    line-height: 1;
}
.footer h3 {
    color: inherit;
    font-size: 110%;
    line-height: 1;
}
.footer p {
    color: inherit;
    font-size: 100%;
}
.footer a {
    color: inherit;
    text-decoration: underline;
    display: block;
}

.footer a :hover {
    text-decoration: underline;
}

.footer ul {
    list-style: disc;
    padding-left: 0;
    font-size: 100%;
}

.footer ul li {
    list-style-position: inside;
    color: inherit;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    display: inline;
}

.footer ul li a :hover {
    text-decoration: underline;
}