.info-tab-box {
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    border-radius: 0.25rem;
}

.tab-content {
    border-left: 1px solid rgba(0,0,0,0.125);
    border-bottom: 1px solid rgba(0,0,0,0.125);
    border-bottom: 1px solid rgba(0,0,0,0.125);
    background-color: #FFFFFF;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.nav-item .nav-link {
    border-top: 1px solid rgba(0,0,0,0.125);
    border-left: 1px solid rgba(0,0,0,0.125);
    border-right: 1px solid rgba(0,0,0,0.125);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #D5D5D5;
}